<!doctype html>
<html lang="ru">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="../css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="../css/main.css"  media="screen,projection"/>
    <title>Todo List</title>
</head>
<body>
<nav>
    <div class="nav-wrapper container page-title">
        <a class="brand-logo">Todo List</a>
    </div>
</nav>
<div class="container">
    <div class="center-align main-settings">
        <label>
            <input type="checkbox" />
            <span class="todo-description">показывать завершенные задачи</span>
        </label>
    </div>
    <div class="js-todo-list-container todo-list-container row">
        <div class="col s6">
            <h5 class="center-align">сделать</h5>
            <div class="card">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="todo-description">Выучить Java</span>
                            </label>
                        </td>
                        <td class="right-align">
                            <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="todo-description">Выучить PHP</span>
                            </label>
                        </td>
                        <td class="right-align">
                            <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="todo-description">Выучить JavaScript</span>
                            </label>
                        </td>
                        <td class="right-align">
                            <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col s6">
            <h5 class="center-align">сделано</h5>
            <div class="card">
                <table>
                    <tbody>
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="todo-description">Выучить Java</span>
                            </label>
                        </td>
                        <td class="right-align">
                            <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="todo-description">Выучить PHP</span>
                            </label>
                        </td>
                        <td class="right-align">
                            <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label>
                                <input type="checkbox" />
                                <span class="todo-description">Выучить JavaScript</span>
                            </label>
                        </td>
                        <td class="right-align">
                            <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="js-todo-list-container todo-list-container row">
        <h5 class="center-align">сделать</h5>
        <div class="col s8 offset-s2 card">
            <table>
                <tbody>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" />
                            <span class="todo-description">Выучить Java</span>
                        </label>
                    </td>
                    <td class="right-align">
                        <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" />
                            <span class="todo-description">Выучить PHP</span>
                        </label>
                    </td>
                    <td class="right-align">
                        <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                    </td>
                </tr>
                <tr>
                    <td>
                        <label>
                            <input type="checkbox" />
                            <span class="todo-description">Выучить JavaScript</span>
                        </label>
                    </td>
                    <td class="right-align">
                        <a class="btn-floating btn-small waves-effect waves-light btn-delete">+</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row js-todo-form-container todo-form-container">
        <h5 class="center-align">новая задача</h5>
        <div class="card col s6 offset-s3">
            <div class="card-content">
                <div class="row">
                    <div class="input-field col s12">
                        <textarea placeholder="" id="description" name="description" class="materialize-textarea" rows="2"></textarea>
                        <label class="" for="description">описание</label>
                    </div>
                </div>
                <div class="row">
                </div>
            </div>
            <div class="card-action right-align">
                <button class="btn waves-effect waves-light btn-small js-add-todo-item" type="button">Добавить</button>
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/javascript" src="../js/materialize.min.js"></script>
</body>
</html>
